# Introduction to Pandas

`pandas` is an awesome library for csv file manipulations, and so much more!

## First, setup

In [1]:
import pandas as pd
import numpy as np

## Series

The basic `pandas` data structure is `Series`. It represents a one-dimensional collection of values (similar to python native `list` and `numpy` `array`)

In [2]:
s = pd.Series([1, 2, 3])

In [3]:
print(s)

0    1
1    2
2    3
dtype: int64

## Data Frame

`DataFrame` would be the main way to interact with csv files (**tables**). Let's see an example

### First, read from csv file (or any seperated files)

In [18]:
df = pd.read_csv("yrbs.tsv", delimiter="\t")
df.head()

   year  age sex  meth  tv state
0  2003   13   M     0   1    XX
1  2003   13   M     1   1    XX
2  2003   13   M     1   1    XX
3  2003   13   M     0   1    XX
4  2003   13   M     0   0    XX

In [16]:
# to look into the dataframe, use head() or tail()
df.head()
# cleaning
df = df[df['state'] != 'XX']
print(df['state'])

48323    MT
48324    MT
48325    MT
48326    MT
48327    MT
48328    MT
48329    MT
48330    MT
48331    MT
48332    MT
48333    MT
48334    MT
48335    MT
48336    MT
48337    MT
48338    MT
48339    MT
48340    MT
48341    MT
48342    MT
48343    MT
48344    MT
48345    MT
48346    MT
48347    MT
48348    MT
48349    MT
48350    MT
48351    MT
48352    MT
         ..
58047    MT
58048    MT
58049    MT
58050    MT
58051    MT
58052    MT
58053    MT
58054    MT
58055    MT
58056    MT
58057    MT
58058    MT
58059    MT
58060    MT
58061    MT
58062    MT
58063    MT
58064    MT
58065    MT
58066    MT
58067    MT
58068    MT
58069    MT
58070    MT
58071    MT
58072    MT
58073    MT
58074    MT
58075    MT
58076    MT
Name: state, Length: 9754, dtype: object